body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

/* HOME PAGE */
.homePageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.homePageLogo {
  position: relative;
  background-color: #1DA1F2;
  width: 100%;
}

.homePageLogo svg:nth-child(1) {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 400px;
  color: white;
}

.homePageTitle {
  height: 100%;
  min-width: 45vw;
}

.homePageTitleContent {
  margin-left: 40px;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.homePageTitleContent svg {
  font-size: 70px;
  color: #1DA1F2;
}

.homePageTitleContent h1 {
  margin-top: 60px;
  font-size: 70px;
  font-weight: 700;
}

.homePageTitleContent p {
  font-size: 31px;
  font-weight: 700;
}

.homePageButton {
  background-color: #1DA1F2;
  position: relative;
  width: 380px;
  height: 50px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.homePageButton a {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
}

.homePageButton:hover {
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: .2s;
}

.homePageLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.homePageLinks div:nth-child(2) {
  background-color: white;
  border: 1px solid #1DA1F2;
}

.homePageLinks div:nth-child(2) a {
  color: #1DA1F2;
}

/* MODAL */
.homePageModal {
  z-index: 100;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 650px;
  width: 600px;
  border-radius: 15px;
  background-color: white;
}

.homePageModalWrapper {
  margin: 0 auto;
  width: 90%;
}

.homePageOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 90;
}

.homePageHeaderModal {
  margin-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePageHeaderModal svg:nth-child(1) {
  position: absolute;
  left: 0;
  color: #1DA1F2;
  font-size: 30px;
  top: 5px;
  cursor: pointer;
}

.homePageHeaderModal svg:nth-child(2) {
  color: #1DA1F2;
  font-size: 40px;
}

.homePageHeaderModal p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 800;
}

.homePageNextButton {
  position: absolute;
  right: 0;
  top: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #1DA1F2;
  padding: 5px 15px;
  color: white;
  font-size: 15px;
  font-weight: 800;
}

.homePageNextButtonError {
  opacity: 0.5;
}

.homePageContent form {
  width: 100%;
}

.formHeader p {
  font-size: 23px;
  font-weight: 700;
}

.formInputs {
  margin-top: 30px;
  position: relative;
}

.formInputs p {
  position: relative;
  left: 0;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.formInputs label {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  top: 50%;
  color: #5b7083;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: .1s;
  transition: .1s;
}

.formInputs span {
  color: #1b95e0;
  cursor: pointer;
}

.formInputs span:hover {
  text-decoration: underline;
}

.formInput {
  outline: none;
  height: 60px;
  width: 100%;
  border: 1px solid #C4CFD6;
  border-radius: 5px;
  padding: 0 10px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

.formInput:focus {
  border: 2px solid #1DA1F2;
}

.formInput:focus + label {
  color: #1DA1F2;
}

.formInput:focus + label, .formInput:not(:placeholder-shown) + label {
  font-size: 15px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .1s;
  transition: .1s;
}

.formInput::-webkit-input-placeholder {
  color: transparent;
}

.formInput:-ms-input-placeholder {
  color: transparent;
}

.formInput::-ms-input-placeholder {
  color: transparent;
}

.formInput::placeholder {
  color: transparent;
}

.formInputError {
  outline: none;
  height: 60px;
  width: 100%;
  border: 1px solid #E0245E;
  border-radius: 5px;
  padding: 0 10px;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
}

.formInputError + label {
  color: #E0245E;
}

.formInputError:focus {
  border: 2px solid #E0245E;
}

.formInputError:focus + label {
  color: #E0245E;
}

.formInputError:focus + label, .formInputError input:not(:placeholder-shown) + label {
  font-size: 15px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .1s;
  transition: .1s;
}

.formInputError::-webkit-input-placeholder {
  color: transparent;
}

.formInputError:-ms-input-placeholder {
  color: transparent;
}

.formInputError::-ms-input-placeholder {
  color: transparent;
}

.formInputError::placeholder {
  color: transparent;
}

.formInputsError {
  margin-bottom: 20px;
}

.formInputsError span {
  color: #E0245E;
  font-size: 15px;
}

.formInputDate span {
  font-weight: 400;
  color: #5b7083;
}

.formInputDate input {
  margin-top: 15px;
}

.formInputsSelect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
}

.formInputsSelectInput {
  position: relative;
}

.formInputsSelectInput label {
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 10px;
  top: 50%;
  color: #5b7083;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: .1s;
  transition: .1s;
}

.formInputsPolitics {
  margin-top: 100px;
}

.formInputsPolitics p {
  font-weight: 400;
  font-size: 15px;
  color: #0f1419;
}

.formInputsPolitics span {
  color: #1b95e0;
}

.formInputsValidate span {
  margin-left: 10px;
  font-size: 13px;
  color: #1b95e0;
}

.formInputsValidate span:hover {
  text-decoration: underline;
}

.formInputsCode {
  color: #5b7083;
  font-size: 15px;
  font-weight: 400;
}

.formInputsCode span {
  margin-left: 10px;
  color: #1b95e0;
  font-size: 13px;
}

.formInputsCode span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.homePageModalContentTitle h2 {
  font-size: 20px;
}

.homePageContentFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePageContentFlex p {
  font-size: 15px;
  margin: 0;
}

.homePageModalContentFooter {
  margin-top: 40px;
}

.homePageModalContentFooter p {
  color: #5b7083;
  font-size: 15px;
}

.homePageModalContentFooter span {
  color: #1b95e0;
  cursor: pointer;
}

.formInputsSubmit button {
  padding: 15px 0;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 30px;
  background-color: #1DA1F2;
  font-size: 15px;
  font-weight: 700;
}

/* */
/* */
/* MAIN PAGE */
.mainPageWrapper {
  margin: 0 auto;
  max-width: 50%;
}

.mainPageContent {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 3fr 2fr;
      grid-template-columns: 1.5fr 3fr 2fr;
}

.mainPageNavIcon {
  height: 30px;
  width: 30px;
}

nav {
  width: 80%;
}

nav a {
  margin-top: 5px;
  width: unset;
  color: #0f1419;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  justify-self: flex-start;
}

nav a:hover {
  color: #1DA1F2;
  background-color: #E8F5FE;
}

nav a:nth-child(1) {
  border-radius: 70px;
  width: 30px;
  margin-top: 0;
  color: #1DA1F2;
}

nav svg {
  font-size: 35px;
}

nav button {
  cursor: pointer;
  width: 100%;
  background-color: #1DA1F2;
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 15px 0;
  color: white;
  font-weight: 800;
  margin-top: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

nav button:hover {
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #1B91DB;
}

.mainPageNavIcon {
  margin-bottom: 5px;
}

.mainPageMain {
  height: 100%;
  border-left: 1px solid #EBEEF0;
  border-right: 1px solid #EBEEF0;
}

.mainPageNavRef {
  font-size: 20px;
  font-weight: 700;
  margin-left: 25px;
}

/* MAIN PAGE HOME */
.mainPageHomeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #EBEEF0;
  height: 53px;
  font-size: 20px;
  font-weight: 800;
  color: black;
}

/* */
/* */
@media screen and (max-width: 1600px) {
  .homePageTitle {
    min-width: 60vw;
  }
}
/*# sourceMappingURL=style.css.map */